





.card-wrapper {
    margin: 4px 0 4px 0;
}

.card-header {
    overflow: none;
    padding-left: 6px!important;
    padding-right: 6px!important;
}


/* buttons */
.save-article {
    float: right;
    background-color: rgb(15, 189, 93);
    color: ghostwhite;
}

.save-article:hover {
    cursor: pointer;
}


.article-notes {
    float: right;
    background-color: rgb(35, 20, 241);
    color: ghostwhite;
    padding: 4px;
    margin: 3px;
}

.article-notes:hover {
    cursor: pointer;
}

.delete-saved {
    float: right;
    background-color: rgb(214, 16, 43);
    color: ghostwhite;
    padding: 4px;
    margin: 3px;

}
.delete-saved:hover {
    cursor: pointer;
}


.card-text {
    text-decoration: none!important;
    color: rgb(0, 0, 0);
}

.card-text:hover {
    cursor: pointer;
}

