


.background-image {
    
    
    background-image: url(./images/espn-img.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}